name: Terraform Deploy Linux VM

on:
  push:
    branches: [ "master" ]
    paths: 
       - "infrastructure/**" 
  pull_request:
    branches: [ "master" ]
    paths: 
       - "infrastructure/**" 
  workflow_dispatch:

 
concurrency:
  group: terraform-infrastructure
  cancel-in-progress: true
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    defaults:
      run:
       working-directory: infrastructure

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      - name: Terraform Init & Apply
        run: |
          terraform init -reconfigure -input=false
          terraform apply -auto-approve -lock-timeout=300s -var "admin_ssh_key=${{ secrets.VM_SSH_PUBLIC_KEY }}" -var "public_ip=${{ secrets.PUBLIC_IP }}"
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
